.aboutPage {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-2);
}

.meta {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em auto;
}

.title {
  font-size: 2.5rem;
}
