.overlay {
  position: fixed;
  z-index: 1000;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.44);
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
  padding: 24px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@media (max-width: 640px) {
  .content {
    padding: 8px 0;
  }
}

.content:focus {
  outline: none;
}

.title {
  margin: 0;
  font-weight: 500;
  color: rgb(26, 21, 35);
  font-size: 17px;
}

.desc {
  margin: 10px 0 20px;
  color: rgb(111, 110, 119);
  font-size: 15px;
  line-height: 1.5;
}

.embed {
  aspect-ratio: 640 / 360;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    opacity: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
