# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run the demo for this project.
# ------------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# OpenAI
# -----------------------------------------------------------------------------

OPENAI_API_KEY=

# -----------------------------------------------------------------------------
# YouTube
# -----------------------------------------------------------------------------

YOUTUBE_API_KEY=
YOUTUBE_PLAYLIST_ID=
GOOGLE_STORAGE_BUCKET=

# -----------------------------------------------------------------------------
# Pinecone Vector Search
# -----------------------------------------------------------------------------

PINECONE_API_KEY=
PINECONE_BASE_URL=
PINECONE_NAMESPACE=
